html,
body {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

/* General */
.container {
  max-width: 1409px;
}

.g-fixed {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.g-ui--sckity {
  flex: 1;
}

.g-index--9 {
  z-index: 9;
}

.g-index--10 {
  z-index: 10;
}

.g-color--black {
  color: #000000;
}

.g-color-blue {
  color: #00448d;
}

.g-bkg--gray {
  background-color: #f7f7f7;
}

.g-title {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.g-box-scoll {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .g-title {
    font-size: 32px;
  }
}

/* box */
.g-box-shadow {
  background-color: white;
  box-shadow: 0 5px 27px -2px rgba(3, 14, 32, 0.11);
  border-radius: 10px;
}

.g-box-img-text {
  min-width: 320px;
}

@media (min-width: 992px) { 
  .g-box-img-text {
    min-width: auto;
  }
}

.g-box-img-text img {
  width: 100%;
}

.g-box-img-text .text {
  padding: 15px 20px;
}

.g-box-img-text .text .title {
  color: #00448d;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.g-box-img-text .text p {
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  height: 150px;
  line-height: 1.4;
  margin: 0;
}

.g-box-img-text .text .link {
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #292929;
}

.g-box-img-text .text .link a {
  color: #292929;
  font-weight: 700;
  margin-right: 5px;
  font-size: 14px;
}

.g-box-text-ilus {
  background-color: #01448b;
  border-radius: 10px;
  color: white;
  height: 370px;
  padding: 30px 20px;
  position: relative;
  width: 100%;
  min-width: 320px;
}

.g-box-text-ilus .title {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  min-height: 50px;
  margin-bottom: 10px;
}

.g-box-text-ilus p {
  font-size: 14px;
  font-weight: 300;
}

.g-box-text-ilus .ilus {
  bottom: 20px;
  height: 120px;
  position: absolute;
  right: 20px;
}

@media (min-width: 992px) { 
  .g-box-text-ilus {
    min-width: auto;
    padding: 15px 20px;
  }

  .g-box-text-ilus .title {
    min-height: 90px;
  }
}

.g-box-products {
  background-color: #f7f7f7;
  border-bottom-left-radius: 10px;
  padding: 30px 15px;
  text-align: center;
}

.g-box-ilus {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 230px;
  padding: 20px;
  text-align: center;
}

.g-box-ilus img {
  height: 100px;
  margin-bottom: 10px;
}

.g-box-ilus p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.g-box-products--img {
  border-bottom-right-radius: 10px;
  height: 330px;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) { 
  .g-box-products {
    padding: 40px 35px 40px 70px;
    margin-left: -35px;
    text-align: left;
  }
}

@media (min-width: 992px) { 
  .g-box-products {
    padding: 80px 70px 80px 140px;
    margin-left: -70px;
  }

  .g-box-products--img {
    height: 500px;
  }
}

.g-box-question {
  background-color: #00448d;
  border-radius: 6px;
  color: white;
  padding: 40px 20px;
  position: relative;
  text-align: center;
}

.g-box-question button {
  width: 100%;
}

.g-box-question--info {
  background-color: #f7f7f7;
  border-bottom-left-radius: 10px;
  padding: 40px 15px;
  margin-top: 100px;
  position: relative;
}

.g-box-question--info::before {
  background-color: #f7f7f7;
  bottom: 0;
  content: '';
  right: -600px;
  position: absolute;
  top: 0;
  width: 600px;
}

.g-box-link {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 27px -2px rgba(3, 14, 32, 0.11);
  cursor: pointer;
  display: flex;
  padding: 20px;
}

.g-box-link p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  padding-right: 10px;
  width: 100%;
}

@media (min-width: 768px) { 
  .g-box-question {
    border-radius: 0;
    text-align: left;
  }

  .g-box-question--info {
    margin-top: 0;
  }

  .g-box-link p {
    font-size: 20px;
  }

}

@media (min-width: 992px) { 
  .g-box-question {
    padding: 70px;
  }

  .g-box-question::before {
    background-color: #111213;
    bottom: 0;
    content: '';
    left: -600px;
    position: absolute;
    top: 0;
    width: 600px;
  }

  .g-box-question button {
    width: 300px;
  }

  .g-box-question--info {
    background-color: #f7f7f7;
    border-bottom-left-radius: 10px;
    padding: 70px;
    position: relative;
  }
}

.g-box--business-line {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 27px -2px rgba(3, 14, 32, 0.11);
  font-family: 'Nunito', sans-serif;
  padding: 30px 30px 20px 30px;
}

.g-box--business-line .title {
  font-size: 24px;
  font-weight: bold;
  color: #00448d;
  margin-bottom: 0;
}

.g-box--business-line .nro-products {
  font-size: 18px;
  font-weight: bold;
  color: #808285;
}

.g-box--business-line .link {
  padding-top: 20px;
  display: flex;
  align-items: center;
  color: #292929;
  border-top: 1px solid #ebebeb;
}

.g-box--business-line .text {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
}

.g-box--business-line .link a {
  color: #292929;
  font-weight: 700;
  margin-right: 5px;
  font-size: 14px;
}

/* Login */
.login {
  overflow: hidden;
}

.login__form {
  padding: 20px;
  width: 100%;
}

.login__form img {
  margin-bottom: 10px;
  width: 133px;
}

.login__form .title {
  color: #00448d;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
}

.login__form .bajada {
  color: #808285;
}

.login__img {
  height: 100%;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  display: none;
  z-index: -1;
}

.login__img::before {
  background-color: #f8f8f8;
  content: '';
  height: 100%;
  position: absolute;
  right: -9999px;
  width: 9999px;
}

.login__img .bkg-login {
  position: absolute;
  bottom: 0;
  right: -2px;
  height: 100%;
  top: 0;
  object-fit: cover;
}

.login__img .bkg-login--user {
  bottom: -40px;
  left: 10px;
  position: absolute;
  width: 533px;
}

.login__footer .listado {
  color: #292929;
  font-size: 12px;
}

.login__footer .iso {
  width: 18px;
  margin-right: 10px;
}

.login__footer .label {
  color: #808285;
  font-size: 12px;
}

@media (min-width: 992px) { 
  .login__form {
    padding: 20px;
    min-width: 340px;
    width: initial;
  }

  .login__img {
    display: initial;
  }
 }

/* input */
.g-input {
  margin-bottom: 6px;
  margin-top: 20px;
  width: 100%;
}

.g-input--icon {
  position: relative;
}

.g-input--icon .icon {
  bottom: 0;
  font-size: 20px;
  position: absolute;
}

.g-input--icon .block-input {
  margin-left: 40px;
}

.block-input {
  position: relative;
}

input {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

label {
  top: 0;
  left: 0; right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 14px;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 30px;
  font-size: 14px;
}

/* Interation */
input:valid,
input:focus {
  border-bottom: 2px solid #808285;  
}

input:valid + label,
input:focus + label {
  color: #808285;
  font-size: .8rem;
  pointer-events: none;
  top: -20px;
}

/* link */
.g-link {
  color: #808285;
  font-size: 12px;
  text-decoration: underline;
}

.g-link:hover {
  color: #454648;
  font-size: 12px;
  text-decoration: underline;
}

/* btn */
button:focus {
  outline: none;
}

.g-btn {
  align-items: center;
  border-radius: 38px;
  border: none;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  line-height: 1;
  min-height: 38px;
  text-transform: uppercase;
  width: 100%;
}

.g-btn--primary {
  background-color: #ffd200;
  color: #292929;
}

.g-btn--secondary {
  background-color: white;
  color: #00448d;
  border: 1px solid #00448d;
}

.g-btn.disabled {
  background-color: #747779;
  color: #292929;
  opacity: 0.65;
}

.g-btn--search {
  align-items: center;
  background-color: #ffd200;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  color: #454648;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  min-height: 30px;
  min-width: 30px;
  text-decoration: none;
}

.g-btn--nav {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  color: #454648;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  min-height: 26px;
  min-width: 26px;
  text-decoration: none;
}

@media (min-width: 992px) { 
  .g-btn--search { 
    min-height: 47px;
    min-width: 47px;
    font-size: 22px;
  }
}

/* alert */
.g-alert {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 16px 20px;
}

.g-alert .icon {
  font-size: 32px;
  line-height: 1;
}

.g-alert .info {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 10px;
  width: 100%;
}

.g-alert .close {
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  margin-left: 10px;
}

.g-alert--error .icon {
  color: #fa5e5b;
}

/* header */
.header {
  align-items: center;
  display: flex;
  height: 60px;
}

.header h1 {
  width: 100%;
  padding-right: 20px;
}

.header .nav {
  display: none;
}

.header .nav-mobile {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header .nav-mobile span {
  color: #01408a;
  padding-right: 6px;
}

.header .nav.active{
  display: block;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 60px;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #ebebeb;
}

.header .nav ul {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header .nav ul li {
  display: block;
  border-bottom: 1px solid #ebebeb;
}

.header .nav ul li a {
  align-items: center;
  color: #808285;
  display: flex;
  font-weight: 600;
  height: 67px;
  line-height: 1;
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: 0;
  padding: 0;
  border-bottom: 0;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
  color: #00448d;
  transition: 0.5s;
  border-bottom: 3px solid #ffd200;
}

.header h1 {
  font-size: 0;
  line-height: 1;
  margin: 0;
}

.header h1 img {
  width: 90px;
}

.header .user .singin {
  align-items: center;
  color: #808285;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 67px;
  line-height: 1;
  margin-bottom: -3px;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.5s;
}

.header .user-login {
  border-radius: 6px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11), 0 1px 8px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  padding: 20px;
  width: 100%;
}

.header .user-login .user-info {
  align-items: center;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}

.header .user-login .user-info .img {
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}

.header .user-login .user-info .img img {
  width: 100%;
  border-radius: 100px;
}

.header .user-login .user-info .text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  width: 100%;
  
}

.header .user-login .user-info .text .welcome {
  color: #808285;
}

.header .user-login .user-info .text .name {
  color: #01448b;
}

@media (min-width: 992px) { 
  .header {
    justify-content: initial;
    height: 70px;
  }

  .header h1 {
    width: auto;
  }

  .header .nav,
  .header .nav.active {
    background: transparent;
    border-top: none;
    bottom: initial;
    display: flex;
    left: initial;
    padding: 0;
    position: initial;
    right: initial;
    top: initial;
    width: 100%;
    justify-content: space-between;
  }
  
  .header .nav ul {
    width: auto;
    font-size: 16px;
  }

  .header .nav ul li {
    display: inline-block;
    border-bottom: none;
  }

  .header .nav ul li a {
    margin-bottom: -3px;
    padding: 0 20px;
    border-bottom: 3px solid white;
  }

  .header .nav-mobile {
    display: none;
  }

  .header .user-login {
    display: none;
  }
}


/* Banner */
.banner {
  background-color: #f7f7f7;
  height: 500px;
}

.box-banner {
  height: 500px;
  position: relative;
} 

.box-banner .box-banner--img {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.box-banner .box-banner--img.above {
  bottom: -26px;
}

.box-banner .box-banner--img img {
  width: 610px;
  float: right;
}

.box-banner .box-banner--info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
  padding-left: 20px;
  max-width: 500px;
  position: relative;
  z-index: 2;
}

.box-banner .box-banner--info .title {
  color: #01448b;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.box-banner .box-banner--info .txt {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.box-banner .box-banner--info button {
  width: 60%;
}

@media (min-width: 768px) { 
  .box-banner .box-banner--info {
    padding-top: 50px;
    padding-left: 0;
  }

  .box-banner .box-banner--info .title { 
    font-size: 56px;
  }

  .box-banner .box-banner--info button {
    max-width: 300px;
    width: inherit;
  }

  .box-banner .box-banner--img.above {
    bottom: -30px;
  }

  .box-banner .box-banner--img img {
    width: 100%;
    float: inherit;
  }
}

@media (min-width: 992px) {
  .box-banner .box-banner--info {
    padding-top: 100px;
    padding-left: 0;
  }

  .box-banner .box-banner--img.above {
    bottom: -58px;
  }

  .box-banner .box-banner--img img {
    width: 100%;
    float: inherit;
  }
}

.sub-banner {
  align-items: center;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.sub-banner.img-portal {
  background-image: url('../images/sub-banner.jpg');
}

.sub-banner.img-como-funciona {
  background-image: url('../images/como-funciona.png');
}

.sub-banner .text {
  width: 90%;
}

.sub-banner .text h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: bold;
}

.sub-banner .text p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (min-width: 992px) { 
  .sub-banner .text {
    width: 60%;
  }

  .sub-banner .text h4 {
    font-size: 32px;
  }

  .sub-banner .text p {
    margin-top: 40px;
  }  
}

/* steps */
.steps {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
}

.steps--item {
  display: flex;
}

.steps--item__cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.steps--item__cont .circle {
  align-items: center;
  background: #ffcc00;
  border-radius: 87px;
  color: #00408d;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 87px;
  min-width: 87px;
}

.steps--item__cont .info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.steps--item__cont .info .title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2;
  color: #00448d;
}

.steps--item__cont .info .parrafo {
  color: #333333;
  letter-spacing: -0.26px;
  height: 100%;
}

/* footer */
.footer {
  background-color: #58595b;
}

.footer .list-of-pages {
  color: white;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 60px;
}

.footer .list-of-pages .title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  margin-bottom: 10px;
}

.footer .list-of-pages li a {
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin-bottom: 6px;
}

.footer .iso {
  width: 18px;
  margin-right: 10px;
}

.footer .label {
  color: white;
  font-size: 12px;
}

/* breadcrumb */
.breadcrumb {
  background-color: white;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.breadcrumb .breadcrumb-item a {
  color: #808285;
}

.breadcrumb .breadcrumb-item.active {
  color: #a7a9ac;
}

/* nav tab */
.nav-tab {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11), 0 1px 8px 0 rgba(0, 0, 0, 0.14);
  height: 69px;
}

.nav-tab ul {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-tab ul li {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.nav-tab ul li a {
  align-items: center;
  border-bottom: 3px solid white;
  color: #00448d;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 66px;
  margin-top: 3px;
  padding: 0 50px;
  text-decoration: none;
  transition: 0.5s;
}

.nav-tab ul li a:hover,
.nav-tab ul li a.active {
  border-bottom: 3px solid #ffd200;
  transition: 0.5s;
}

/* search */
.search {
  align-items: center;
  background: white;
  border-radius: 6px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11), 0 1px 8px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.search i {
  font-size: 24px;
  padding-left: 10px;
}

/* pagination */
.pagination .page-item .page-link {
  background-color: transparent;
  border: 0;
  color: #a7a9ac;
  font-size: 18px;
}

/* helpers */
.h-bb--gray {
  border-bottom: 1px solid #e6e7e8;
}

.h-bk--white {
  background: white;
  margin-bottom: 0;
}

.h-shadow--gray {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.h-mt-neg--35 {
  margin-top: -35px;
}

.h-mt-neg--60 {
  margin-top: -60px;
}

.h-mt--70 {
  margin-top: 70px;
}

.h-mb--100 {
  margin-bottom: 100px;
}

.h-p--0 {
  padding: 0;
}

.h-ph--15 {
  padding-left: 15px;
  padding-right: 15px;
}

.h-ht--300 {
  height: 300px;
}

.h-ht--200 {
  height: 200px;
}

.h-wt--320 {
  width: 320px;
}

.h-wt--70 {
  width: 70px;
}

.h-bb--white {
  border-bottom: 1px solid white;
}

.h-top--105 {
  top: 105px;
}

.h-fz--24px {
  font-size: 24px;
}

@media (min-width: 992px) {  
  .h-w-md--100 {
    width: 100%;
  }
}
/*overrides*/
#logo1 img.site-logo {
    height: auto; 
    width: 90px;
}
#page > header {
    background-color: #fff;
}
.node-content img {
    border:none;
    padding: 0;
}
article .node-content{padding: 0;}
.region-header .region-inner{
	margin-top:0;
}
div .footer {
    text-align: left;
}
.ui-dialog,
#user-login .description,
#user-login h3{display:none!important;}

#user-login input[type="text"],
#user-login input[type="password"]{
	border:none!important;
	    border-bottom: 2px solid #808285!important;
	padding:0;
}
input[type="text"]:focus{
	box-shadow:none;
}
.not-logged-in.page-user-login .header .nav {
	justify-content: flex-end;
}
#block-menu-login-menu li a, #block-menu-login-menu .menu li a{
	display:flex;
	padding:0;
}
#user-login label{
	font-weight:normal;
}
.home{
	overflow:hidden;
}
#user-login .form-submit{
	border-bottom:none;
}
.g-fixed {
 margin-bottom: 10vh;
}
#messages  div.messages{
	margin:0!important;
	background-color: inherit;
	border:none;
	color:inherit;
	font-size:14px;
	padding: 0px 0px 0px 55px!important;
}
#columns1{
	margin-top:70px;
}
.page-user-login ul.tabs{
	display:none;
}
/*delete this temp fix*/
 .user-info {
    padding-bottom: 0;
    border-bottom: 0;
    height: 70px;
        float: left;
    cursor: pointer;
    padding-top: 10px;
    
  }
.user-info .img img{
	border-radius:50%;
}
  .user-info .img {
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
	
  }

  .user-info .text {
    padding-left: 10px;
  }
  .not-logged-in .user-info {
	  display:none;
  }
  div.error {
    background-image: url(../images/cross.png);
  }
  .dropitmenu li .dropdown-menu {
    display: block!important;
}
.dropitmenu .dropdown-menu {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 27px -2px rgba(3, 14, 32, 0.11);
    display: none;
    flex-direction: column;
    min-width: 200px;
    padding: 0 20px!important;
    position: absolute;
    z-index: 1;
}
body .dropitmenu .dropdown-menu li{
	width:100%;
}
body .dropitmenu .dropdown-menu li a {
    border-bottom: 1px solid #e6e7e8;
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    min-height: 49px;
	line-height: 49px;
    margin: 0;
    padding: 0;
    height: initial;
	display:block;
}
.dropitmenu .dropdown-menu li a:hover{
	border-bottom: 1px solid #e6e7e8!important;
}